*{
  padding: 20px

}



body {
  background-color: rgb(45, 123, 210);
}

h1 {
  color: rgb(255, 0, 0);
}

.col-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.left-col {
background-color: rgb(123, 5, 49);
}

.right-col {
  background-color: rgb(0, 0, 255);
}
