* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(26, 47, 63);
}

.banner {
  text-align: center;
  background-color: rgb(26, 47, 63);

}
.banner h1 {
  font-style: italic;

}
.col-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(26, 47, 63);
  height: auto;
}
.left-col {
height: 100%
}
.right-col {
  height: 100%
}



h1 {
  color: rgb(242, 242, 27);
  font-style: italic;
}

h2 {
font-style: italic;
color: rgb(242, 242, 27);
}

p {
  color: white;
}

li {
  color: white;
}
