.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-gap: 20px
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;

}
.card img {
  max-width: 100%;
  height: auto;

}
.card p {
  margin-left: 5px;
}

.banner h1 {
  margin-left: 42.5%
}
