* {
  background-color: white;
  font-style:italic;
  padding: 0px;
  margin: 0px;

}
.container {
  width: 600px;
  padding: 50px;
  margin: 100px auto;
  border: 1px solid black;
  background-color: white;
}
.Fizz {
  font-size: 20px;
  color: orange;

 }
.Buzz {
  font-size: 20px;
  color: blue;

}
.Fizzbuzz {
  font-size: 40px;
  color: red;

}

.numbers {
  font-size: 20px;
  color: white;
}

.guess-box {
  font-size: 30px;
  padding: 20px;
  background-color: white;

}
.submit-box {
  font-size: 30px;
  padding: 20px;
  background-color: white;
}
